<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46721062555-39hks4j8ih342bcis3ntmjbag4qhtskc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46721062555-39hks4j8ih342bcis3ntmjbag4qhtskc</string>
	<key>API_KEY</key>
	<string>AIzaSyACZE8BPxw7N-mD3UR6X2WdgICa0B_Zk-k</string>
	<key>GCM_SENDER_ID</key>
	<string>46721062555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comute</string>
	<key>PROJECT_ID</key>
	<string>comuter-bcf75</string>
	<key>STORAGE_BUCKET</key>
	<string>comuter-bcf75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46721062555:ios:65e4dd339595b1c23b183e</string>
	<key>DATABASE_URL</key>
	<string>https://comuter-bcf75-default-rtdb.firebaseio.com</string>
</dict>
</plist>